{{ define "main" }}
  {{ partial "header.html" .Site.Data.socials }}
  <h1>Experience</h1>

  {{ $isFirstJobInList := true }}
  {{ range $jobFileKey, $jobFileValue := .Site.Data.resume }}

    {{ if $isFirstJobInList }}
      {{ $isFirstJobInList = false }}
    {{ else }}
      <hr style="opacity:0.4" noshade="noshade" />
    {{ end }}

    {{ range $jobFileValue }}
      <div class="p" style="display: inline-block;">
        <div>
          <em class="base16-0D">{{ .companyName }}</em>
          <span>&#x21D2;</span>
          <span>{{ .role }}</span>
        </div>
        <div class="base16-03">{{ .location }}</div>
      </div>
      <div style="float: right;">
        <div class="base16-0B">
          {{ partial "getFormattedDate.html" .startDate }} -
          {{ if .isOngoing }}
            present
          {{ else }}
            {{ partial "getFormattedDate.html" .endDate }}
          {{ end }}
        </div>
      </div>
      <span style="clear: both; display: table;"></span>
      <div>
        <div style="text-align:justify">
          {{ .description | safeHTML }}
        </div>
        <ul>
          {{ range $keypoint_key, $keypoint_value := .keypoints }}
            <li>{{ $keypoint_value }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  {{ end }}

{{ end }}
