{{ define "main" }}
  <div style="display: inline-block">
    <em class="base16-0A">Hi, I'm Simone Tavoletta</em>
    <div>Senior Software Engineer</div>
  </div>

  <div style="float: right; text-align: right;">
    <div>
      {{ $personalEmail := "s.tavoletta@filmsimili.it" }}
      <a href="mailto:{{ $personalEmail }}">{{ $personalEmail }}</a>
    </div>
    <div class="social-icons">
      {{ range $socialIndex, $socialValue := .Site.Data.socials }}
        <a
          href="{{ $socialValue.url }}"
          target="_blank"
          title="{{ $socialValue.name }}">
          <i class="fa {{ $socialValue.faKey }}" aria-hidden="true"></i>
        </a>
      {{ end }}
    </div>
  </div>

  <span style="clear: both; display: table;"></span>

  <hr />

  <h1>Experience</h1>

  {{ $isFirstJobInList := true }}
  {{ range $jobFileKey, $jobFileValue := .Site.Data.resume }}

    {{ if $isFirstJobInList }}
      {{ $isFirstJobInList = false }}
    {{ else }}
      <hr style="opacity:0.4" noshade="noshade" />
    {{ end }}

    {{ range $jobFileValue }}
      <div class="p" style="display: inline-block;">
        <div>
          <em class="base16-0D">{{ .companyName }}</em>
          <span>&#x21D2;</span>
          <span>{{ .role }}</span>
        </div>
        <div class="base16-03">{{ .location }}</div>
      </div>
      <div style="float: right;">
        <div class="base16-0B">
          {{ partial "getFormattedDate.html" .startDate }} -
          {{ if .isOngoing }}
            present
          {{ else }}
            {{ partial "getFormattedDate.html" .endDate }}
          {{ end }}
        </div>
      </div>
      <span style="clear: both; display: table;"></span>
      <div>
        <div style="text-align:justify">
          {{ .description | safeHTML }}
        </div>
        <ul>
          {{ range $keypoint_key, $keypoint_value := .keypoints }}
            <li>{{ $keypoint_value }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  {{ end }}

{{ end }}
