[submodule "third_party/mononoki"]
	path = third_party/mononoki
	url = https://github.com/madmalik/mononoki.gitgit 
[submodule "third_party/hugo"]
	path = third_party/hugo
	url = https://github.com/gohugoio/hugo.git
