{{- $src := .Get "src" -}}
{{- $width := .Get "width" | default "" -}}
{{- $height := .Get "height" | default "" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $align := .Get "align" | default "center" -}}
{{- $class := .Get "class" | default "" -}}
{{- $description := .Get "description" | default "" -}}

{{- $isAutoHeight := eq $height "auto" -}}
{{- $isAutoWidth := eq $width "auto" -}}

{{- with resources.Get $src -}}
<div class="post-image{{ if $class }} {{ $class }}{{ end }}" style="align-items: {{ $align }};">
	{{- if and $width $height (not $isAutoHeight) (not $isAutoWidth) -}}
	{{- $resized := .Fill (printf "%sx%s" $width $height) -}}
	<img src="{{ $resized.Permalink }}" width="{{ $width }}" height="{{ $height }}" alt="{{ $alt }}" />
	{{- else if and $width (or $isAutoHeight $isAutoWidth) -}}
	{{- $resized := .Resize (printf "%sx" $width) -}}
	<img src="{{ $resized.Permalink }}" width="{{ $width }}" alt="{{ $alt }}" style="height: auto;" />
	{{- else if and $height $isAutoWidth (not $width) -}}
	{{- $resized := .Resize (printf "x%s" $height) -}}
	<img src="{{ $resized.Permalink }}" height="{{ $height }}" alt="{{ $alt }}" style="width: auto;" />
	{{- else if $width -}}
	{{- $resized := .Resize (printf "%sx" $width) -}}
	<img src="{{ $resized.Permalink }}" width="{{ $width }}" alt="{{ $alt }}" style="height: auto;" />
	{{- else if $height -}}
	{{- $resized := .Resize (printf "x%s" $height) -}}
	<img src="{{ $resized.Permalink }}" height="{{ $height }}" alt="{{ $alt }}" style="width: auto;" />
	{{- else -}}
	<img src="{{ .Permalink }}" {{ if $alt }} alt="{{ $alt }}" {{ end }} />
	{{- end -}}
	{{- if $description -}}
	<p class="post-image-caption">{{ $description }}</p>
	{{- end -}}
</div>
{{- end -}}