<div style="display: inline-block">
  <div style="display: flex; gap: 0.6rem; align-items: center">
    <!-- Profile Image -->
    {{ $myProfileImage := resources.GetMatch "images/photo-st.webp" }}
    {{ $resizedProfileImage := $myProfileImage.Fill "55x55" }}
    <img
      style="border-radius: 50%;"
      src="{{ $resizedProfileImage.RelPermalink }}"
      width="{{ $resizedProfileImage.Width }}"
      height="{{ $resizedProfileImage.Height }}" />

    <!-- Profile presentation -->
    <div>
      <em class="base16-0A">Hi, I'm Simone Tavoletta</em>
      <div>Senior Software Engineer</div>
    </div>
  </div>
</div>

<div style="float: right; text-align: right;">
  <div>
    {{ $personalEmail := "s.tavoletta@filmsimili.it" }}
    <a href="mailto:{{ $personalEmail }}">{{ $personalEmail }}</a>
  </div>
  <div class="social-icons">
    {{ range $socialIndex, $socialValue := . }}
      <a
        class="no-underline"
        href="{{ $socialValue.url }}"
        target="_blank"
        title="{{ $socialValue.name }}">
        <i class="fa {{ $socialValue.faKey }}" aria-hidden="true"></i>
      </a>
    {{ end }}
  </div>
</div>

<span style="clear: both; display: table;"></span>

<hr />
