<nav>
  {{ $activePageClassName := "active-page" }}

  {{ $classWhenHomepageActive := "" }}
  {{ if eq $.Page.RelPermalink "/" }}
    {{ $classWhenHomepageActive = $activePageClassName }}
  {{ end }}


  <a href="/" class="{{ $classWhenHomepageActive }}">🏠 Simone Tavoletta</a>

  {{ range .Site.Menus.main }}
    <span>&#xE0B1;</span>
    {{ $currentUrlDisplayText := print .Name | safeHTML }}

    {{ $classWhenCurrentUrlIsActive := "" }}
    {{ if eq $.Page.RelPermalink .URL }}
      {{ $classWhenCurrentUrlIsActive = $activePageClassName }}
    {{ end }}


    <a href="{{ .URL }}" class="{{ $classWhenCurrentUrlIsActive }}"
      >{{ $currentUrlDisplayText }}</a
    >
  {{ end }}
</nav>
